{% extends 'in/base.html' %}

{% block title %}
    <h1>Форма регистрации</h1>
{% endblock title %}
{% block form %}
    {{ form.username.label }}
    {{ form.username }}<br>

    {{ form.email.label }}
    {{ form.email }}<br>

    {{ form.password1.label }}
    {{ form.password1 }}<br>

    {{ form.password2.label }}
    {{ form.password2 }}<br>

    {{ form.position.label }}
    {{ form.position }}<br>

{% endblock form %}

{% block button %}
    <input type="submit" id="submit" value="Зарегистрироваться">
{% endblock button %}

{% block href %}
    <a href="{% url 'login' %}">Войти</a>
{% endblock href %}